.footer {
  padding: calc(62px / var(--size)) 20px;
  background-color: #f7f7f7;
}

.footer__logo {
  width: 256px;
  margin-bottom: 13px;
  display: inline-block;
}

.footer__inner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__copyright,
small {
  font-size: 14px;
  line-height: 20px;
}

.footer__social-networks {
	position: relative;
	top: 9px;
	right: 6px;
  width: 108px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 530px) {
  .footer__inner {
    flex-direction: column;
    align-items: flex-start;
  }

  .footer__social-networks {
    margin: 17px auto 0;
  }
}
